$ORIGIN 0.168.192.in-addr.arpa.
$TTL 3D
@       IN      SOA     names-1.maballou.com. root.maballou.com. (
                                1       ; Serial
                                8H      ; Refresh
                                2H      ; Retry
                                4W      ; Expire
                                1D)     ; Minimum TTL

        IN      NS      names-1.maballou.com.

1       IN      PTR     names-1.maballou.com.
2       IN      PTR     names-2.maballou.com.
3       IN      PTR     brother-2070n.maballou.com.
4       IN      PTR     brother-3170cdw.maballou.com.
5       IN      PTR     esxi-1.maballou.com.
6       IN      PTR     esxi-2.maballou.com.
10      IN      PTR     files-1.maballou.com.
11      IN      PTR     backups.maballou.com.
12      IN      PTR     pdc.maballou.com.
13      IN      PTR     web.maballou.com.
14      IN      PTR     server2008.maballou.com.
15      IN      PTR     dev.maballou.com.
16      IN      PTR     solaris.maballou.com.
17      IN      PTR     domain.maballou.com.
18      IN      PTR     mail.maballou.com.
19      IN      PTR     ops.maballou.com.
20      IN      PTR     ldap.maballou.com.
21      IN      PTR     names.maballou.com.
22      IN      PTR     services.maballou.com.
23      IN      PTR     ipa.maballou.com.
25      IN      PTR     files-2.maballou.com.
26      IN      PTR     web-2.maballou.com.
27      IN      PTR     mail-2.maballou.com.
28      IN      PTR     ops-2.maballou.com.
99      IN      PTR     maximus.maballou.com.
251     IN      PTR     bridge-1.maballou.com.
252     IN      PTR     bridge-2.maballou.com.
253     IN      PTR     raspberrypi.maballou.com.
254     IN      PTR     gateway.maballou.com.
