/srv            *(ro,sync,no_subtree_check,fsid=0)
/srv/nfs-home   *(rw,sync,no_subtree_check,no_root_squash)
/srv/cifs-home  *(rw,sync,no_subtree_check,no_root_squash)
/srv/cifs-share *(rw,sync,no_subtree_check,no_root_squash)
