[Unit]
Description=Home Mike
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Mount]
What=files.maballou.com:/nfs-home/mike
Where=/home/mike
Type=nfs

[Install]
WantedBy=multi-user.target
