$ORIGIN maballou.com.
$TTL 3D
@               IN      SOA     {{ inventory_hostname }}. root.maballou.com. (
                                1       ; Serial
                                8H      ; Refresh
                                2H      ; Retry
                                4W      ; Expire
                                1D)     ; Minimum TTL

                IN      NS      names-1.maballou.com.
                IN      NS      names-2.maballou.com.

maballou.com.   IN      MX 10   mail.maballou.com.

names-1         IN      A       192.168.0.1
names-2         IN      A       192.168.0.2
brother-2070n   IN      A       192.168.0.3
brother-3170cdw IN      A       192.168.0.4
esxi-1          IN      A       192.168.0.5
esxi-2          IN      A       192.168.0.6
files-1         IN      A       192.168.0.10
backups         IN      A       192.168.0.11
miner           IN      A       192.168.0.12
docker          IN      A       192.168.0.13
prime           IN      A       192.168.0.99
pi-1            IN      A       192.168.0.251
pi-2            IN      A       192.168.0.252
bridge-2        IN      A       192.168.0.253
gateway         IN      A       192.168.0.254
pi              IN      CNAME   pi-2.maballou.com.
esxi            IN      CNAME   esxi-2.maballou.com.
files           IN      CNAME   files-1.maballou.com.
