$ORIGIN 0.168.192.in-addr.arpa.
$TTL 3D
@       IN      SOA     {{ inventory_hostname }}. root.maballou.com. (
                                1       ; Serial
                                8H      ; Refresh
                                2H      ; Retry
                                4W      ; Expire
                                1D)     ; Minimum TTL

        IN      NS      names-1.maballou.com.




1       IN      PTR     names-1.maballou.com.
2       IN      PTR     names-2.maballou.com.
3       IN      PTR     brother-2070n.maballou.com.
4       IN      PTR     brother-3170cdw.maballou.com.
5       IN      PTR     esxi-1.maballou.com.
6       IN      PTR     esxi-2.maballou.com.
10      IN      PTR     files-1.maballou.com.
11      IN      PTR     backups.maballou.com.
12      IN      PTR     files-2.maballou.com.
99      IN      PTR     prime.maballou.com.
251     IN      PTR     pi-1.maballou.com.
252     IN      PTR     pi-2.maballou.com.
254     IN      PTR     gateway.maballou.com.
