$ORIGIN 168.192.in-addr.arpa.
$TTL 3D
@       IN      SOA     {{ inventory_hostname }}. root.maballou.com. (
                                1       ; Serial
                                8H      ; Refresh
                                2H      ; Retry
                                4W      ; Expire
                                1D)     ; Minimum TTL

        IN      NS      names-1.maballou.com.


4.0     IN      PTR     brother-3780cdw.maballou.com.
5.0     IN      PTR     esxi-1.maballou.com.
6.0     IN      PTR     esxi-2.maballou.com.
7.0     IN      PTR     proxmox-1.maballou.com.
8.0     IN      PTR     proxmox-2.maballou.com.
99.0    IN      PTR     prime.maballou.com.
1.1     IN      PTR     gateway.maballou.com.
1.2     IN      PTR     pi-2.maballou.com.
1.3     IN      PTR     pi-3.maballou.com.
10.0    IN      PTR     files-1.maballou.com.
11.0    IN      PTR     files-2.maballou.com.
12.0    IN      PTR     backups.maballou.com.
13.0    IN      PTR     idam-1.maballou.com.
1.10    IN      PTR     names-1.maballou.com.
2.10    IN      PTR     names-2.maballou.com.
1.100   IN      PTR     k8s-api-server.maballou.com.
11.100  IN      PTR     k8s-master-1.maballou.com.
12.100  IN      PTR     k8s-master-2.maballou.com.
13.100  IN      PTR     k8s-master-3.maballou.com.
101.100 IN      PTR     k8s-node-1.maballou.com.
102.100 IN      PTR     k8s-node-2.maballou.com.
103.100 IN      PTR     k8s-node-3.maballou.com.
