[Unit]
Description=Home Mike
Requires=network-online.target
After=network-online.service

[Mount]
What=files.maballou.com:/srv/home/mike
Where=/home/mike
Type=nfs

[Install]
WantedBy=multi-user.target
