[Unit]
Description=Mike
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Mount]
What=//files.maballou.com/mike
Where=/mnt/mike
Type=cifs
Options=vers=3.0,username={{ cifs_username }},password={{ cifs_password }},uid=mike,gid=mike

[Install]
WantedBy=multi-user.target
